.calc-screen {
    display: grid;
    height: 130px;
    padding: 10px;
    justify-items: end;
    align-items: end;
    color: #fff;
    font-size: 120px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: right;
}

.calc-screen .previous-operand {

    font-size: 35px;
}

.calc-screen .current-operand {

    font-size: 60px;
}